<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
</head>
<body>

  <script type="text/javascript">
    var num = Math.random();
    var data = {
      labels: ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J"],
      datasets: [
        {
          data: [
            Math.random(),
            Math.random(),
            Math.random(),
            Math.random(),
            Math.random(),
            Math.random(),
            Math.random(),
            Math.random(),
            Math.random(),
            Math.random()
          ],
          backgroundColor: [
            "#f79546",
            "#9bba57",
            "#4f81bb",
            "#5f497a",
            "#a94069",
            "#ff5f34",
            "#41774e",
            "#003663",
            "#49acc5",
            "#c0504e"
          ],
          borderWidth: 0,
          label: "Dataset 1"
        }]
    };

    window.onload = function() {
      var ctx8 = document.getElementById("chart8").getContext("2d");
      window.theChart8 = new Chart(ctx8, {
        type: 'pie',
        data: data,
        options: {
          responsive: true,
          legend: false,
          maintainAspectRatio: false,
          animation: false,
          pieceLabel: {
            mode: "label",
            position: "outside",
            fontSize: 11,
            fontStyle: 'bold'
          }
        }
      });
    }
  </script>
  <div style="width:150px">
    <canvas id="chart8"></canvas>
  </div>
  </script>
</body>
</html>