<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footerFragmentParam (param1, param2)">
    <header>
        <i style="padding-right: 10px" class="fa-solid fa-magnifying-glass-chart fa-2xl"></i>
        <h1>keyword pro</h1>
        <nav style="width: 30%; margin-right: 30%; margin-left: 1%">
            <ul class="menu_bar">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </nav>
        <nav style="width: 20%">
            <ul class="menu_bar">
                <li><a th:if="${session.LoginId != null}" th:text="${session.LoginId}"></a></li>
                <li><a th:if="${session.LoginId == null}" href="/login">로그인</a></li>
                <li><a th:if="${session.LoginId != null}" href="/logout", methods="POST">로그아웃</a></li>
                <li><a th:if="${session.LoginId == null}" href="/signup">회원 가입</a></li>
            </ul>
        </nav>
    </header>
</footer>

</body>
</html>