body{

}

header {
    height: 75px;
    padding: 1rem;
    color: white;
    background: teal;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}

.main_div{
    background-color: darkslateblue;)
    text-align: right;
    width: 100%;
    height: 100vh;
    background-size:cover;
}

.menu_bar{
    width: 100%;
    height: 80px;
}

.menu_bar li{
    width:100px;
    float: left;
    text-align: center;
    line-height: 80px;
    list-style: none;
}


.menu_bar li a:hover{
    color:red;
    background-color: #4d4d4d;
}

.menu_bar_size{
    height: 75px;
    width: 100%;
}

.keyword_bar_div{
    height: 50px;
    width: 50%;
    background-color: white;
}

.keyword_bar_input{
    height: 45px;
    width: 85%;
    align-content: center;
    margin:0;
    padding:0;
    border: none;
    outline: none;
}

.keyword_bar_button{
    height: 45px;
    width: 10%;
    background-color: white;
    margin:0;
    padding:0;
    border: none;
}