<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/resources/css/main.css}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://kit.fontawesome.com/492c0b02cd.js" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="~{/fragments/background :: footerFragmentParam ('everyone', 'kim')}"></div>
    <div style="height: 100px; width: 100%">

    </div>
    <div class="main_div">
        <div style="height: 200px; width:100%"></div>
        <center>
            <div class="keyword_bar_div">
                    <form th:action = '@{/analysis}' method="get" th:object="${KeywordRequestDto}">
                        <input type="text" class="keyword_bar_input" placeholder="키워드를 입력하세요" th:field="*{keyword}">
                        <button class="keyword_bar_button"><i style="padding-right: 10px" class="fa-solid fa-magnifying-glass-chart fa-2xl"></i></button>
                    </form>
            </div>
        </center>
    </div>
</body>
</html>