<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/resources/css/main.css}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://kit.fontawesome.com/492c0b02cd.js" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="~{/fragments/background :: footerFragmentParam ('everyone', 'kim')}"></div>
    <div class="main_div">
    </div>
    <form action="#" th:action="@{/keywordAnalysis}" method="get" th:object="${AnalysisRequestDto}">
        <div>
            <div>
                <p th:if="${#fields.hasErrors('keyword')}" th:errors="*{keyword}">Incorrect date</p>
                keywordAnalysis <input type="text" title="keyword" th:field="*{keyword}"/>
            </div>
            <input type="submit" value="search" />
        </div>
    </form>
</body>
</html>